* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f96167;
  font-family: "Courier New", Courier, monospace;
}

.App {
  background-color: white;
  width: 55%;
  min-width: 555px;
  padding: 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 8px;
}

h1 {
  background-color: white;
  font-size: 30px;
  margin-bottom: 2rem;
  font-weight: 700;
  color: black;
  text-decoration: underline;
}

.exchange {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.input {
  width: 30%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 45px;
  background-color: white;
}

.inputLabel {
  font-size: 0.95rem;
  color: #8b8e98;
  font-weight: 600;
  background-color: white;
}
.inputField {
  width: auto;
  height: 60px;
  background: white;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  font-size: 20px;
  gap: 10px;
  filter: drop-shadow(0px 1px 0px white)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.inputField:focus {
  border: 1px solid transparent;
  background: black;
  box-shadow: 0px 0px 0px black;
  background-color: transparent;
}

.output {
  background-color: white;
}

h2 {
  background-color: white;
  margin-top: 20px;
  width: 60%;
  padding: 25px;
  border-radius: 9px;
}

.options {
  background-color: white;
}

.boldResult {
  background-color: yellow;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .App {
    min-width: fit-content;
  }
  .inputField {
    width: 50vw;
  }
  .exchange {
    flex-direction: column;
  }
  .input {
    margin-bottom: 10px;
  }
  .output h2 {
    font-size: 1.5rem;
  }
}
